# data directories settings
PATHS__DATA_DIR=data
PATHS__AUDIO_SUBDIR=audio
PATHS__TRANSCRIPTS_SUBDIR=transcripts

PATHS__PROMPTS_SUBDIR=prompts
PATHS__PROMPT_SYSTEM=system
PATHS__PROMPT_DETAIL=detail

PATHS__MAX_CONCURRENT=5

# ML settings
ML__DEVICE=cpu
ML__HF_TOKEN=your-huggingface-token-optional
ML__MAX_CONCURRENT=3

# whisper settings
WHISPER__COMPUTE_TYPE=int8
WHISPER__MODEL=large-v3

# google drive settings
GOOGLE__CREDENTIALS_PATH=your-credentials-file-path
GOOGLE__AUDIO_FOLDER=your-folder-url-or-id-with-audio
GOOGLE__MAX_RETRIES=5

# LLM settings
LLM__NAME=your-ai-name
LLM__BASE_URL=your-ai-base-url
LLM__API_KEY=your-ai-api-key
LLM__MODEL=your-ai-model
