# data directories settings
PATHS__DATA_DIR=data
PATHS__AUDIO_SUBDIR=audio
PATHS__TRANSCRIPTS_SUBDIR=transcripts
PATHS__MAX_CONCURRENT=5

# ML settings
ML__DEVICE=cpu
ML__HF_TOKEN=your-huggingface-token-optional
ML__MAX_CONCURRENT=3

# whisper settings
WHISPER__COMPUTE_TYPE=int8
WHISPER__MODEL=large-v3

# google drive settings
GOOGLE__CREDENTIALS_PATH=your-credentials-file-path
GOOGLE__AUDIO_FOLDER=your-folder-url-or-id-with-audio
GOOGLE__MAX_RETRIES=5
