# data directories settings
PATHS__DATA_DIR=data
PATHS__AUDIO_SUBDIR=audio
PATHS__REPORTS_SUBDIR=reports
PATHS__TRANSCRIPTS_SUBDIR=transcripts

# whisper settings
WHISPER__COMPUTE_TYPE=int8
WHISPER__DEVICE=cpu
WHISPER__MODEL=large-v3
WHISPER__MAX_CONCURRENT=3
WHISPER__HF_TOKEN=your-huggingface-token-optional

# google drive settings
GOOGLE__CREDENTIALS_PATH=your-credentials-file-path
GOOGLE__AUDIO_FOLDER=your-folder-url-or-id-with-audio
GOOGLE__MAX_RETRIES=5
