faster-whisper
speechbrain
scikit-learn
torch
torchaudio
ffmpeg-python
openpyxl
openai
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
tqdm
dishka
pydantic
pydantic-settings
